@import "../../../variables";

.items {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  border-bottom: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px auto;
  cursor: pointer;

  .edit {
    display: none;
  }
  &:hover {
    opacity: 0.6x;
    .edit {
      width: 26px;
      height: 26px;
      display: flex;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      margin: 8px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.title-item {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  width: 95%;
  display: flex;
  justify-self: flex-start;
}

.danger {
  background-color: $color-warning;
}

.highlight {
  background-color: $color-highlight;
}

.complete {
  opacity: 0.3;
  cursor: default;
}
