@import "../../../variables";
$color: #172b4d;

.container {
  @include flexCenter(column);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  width: 600px;
  height: 750px;
  background-color: #f4f5f7;
  border-radius: 2px;
  padding: 16px;
  cursor: pointer;
  @include flexCenter(column);
}
